
lab3/Library/il2cpp_cache/linkresult_5E23B6B7510BD0C95A7ED8BA7F0040D9/build.bc
lab3/Library/Il2cppBuildCache/WebGL/Native/build.bc
lab4/problem2/Build/problem2.data
lab5/problem1/Build/exxx.data
lab5/problem1/Build/problem1.data
